.top-section {
    
}
.h1-subtext {
    
}
.h1-center {
    text-align: center;
    padding-top: ;
}
.subtext {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.booknow-button {
    
}