@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  display: flex;
  justify-content: center;
  position: relative;
  
  
}
.img-container {
  background-image: url(/images/Tinberg_solar_system._sun_in_the_background._child_color._blue__bb52698c-20fc-4ee3-b5e0-aab8d8c30981_11zon1.png);
  height: 650px;
  /*
  background-size: 100% 100%;
  */
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
}

.top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 150px;
}
.h1-container {
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}

.activity-form {
  top: 40px;
  background-color: var(--dark-white-background-color);
  width: 70%;
  padding: 30px 30px 35px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.1);
  
}

.form-label {
  color: var(--black-font-color);
  padding-bottom: 10px;
}

.container-form {
  display: flex;
  flex-direction: column;
}

input[type="date"],
select {
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  min-width: 242px;
  background-color: var(--white-background-color);
  
}

select optgroup {
  font-size: 1.5rem;
}

.container2 {
  padding: 200px 0 100px;
}
.h2-background {
  background-color: var(--orange-background-color);
  text-align: center;
  padding-top: 30px;
}
.container-h3 {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 40px ;
}
.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  
}
.container-flex:hover .h3-text {
  background-color: var(--light-blue-background-color);
  color: white;
}

.h3-img {
  width: 380px;
  height: 280px;
  border-radius: 15px 15px 0 0;
  display: block;
}
.h3-text {
  background-color: var(--dark-white-background-color);
  padding: 20px 10px;
  border-radius: 0 0 15px 15px;
  min-width: 380px;
  
  
}

.day-time {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.fa-arrow-right {
  font-size: 2rem;
  margin-top: 10px;
}

.background-gallery1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--dark-white-background-color);
  padding: 25px;
  border-radius: 15px 15px 0 0;
}

.gallery-img {
  max-height: 700px;
  width: 1440px;
  scroll-snap-align: center;
}

.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  
}
figcaption {
  justify-content: center;
  display: flex;
  background-color: var(--dark-white-background-color);
  bottom: 10px;
  position: relative;
  padding: 3px;
}
.background-gallery2 {
  background-color: var(--dark-white-background-color);
  padding: 25px;
  border-radius: 0 0 15px 15px;
  
}
.gallery-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.gallery-flex2 {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.container3 {
  margin: 100px 0 125px;
}
.news {
  margin-top: 10px;
}

.h2-background2 {
  background-color: var(--light-blue-background-color);
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  display: flex;
}

.img-exhibitions {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 40px;
}

.h3-exhibitions {
  background-color: var(--dark-white-background-color);
  padding: 35px;
  border-radius: 15px;
  margin: 30px 40px 0;
  min-width: 340px;
}
.container-flex:hover .img-exhibitions {
  animation: bounce 1s infinite;
}
.container-flex:hover .h3-exhibitions {
  background-color: #e29351;
  color: white;
}

/*----------Desktop----------*/
@media only screen and (min-width: 1190px) {
  .scroll-label {
    display: none;
  }
}

/*----------Tablet----------*/

@media only screen and (max-width: 1189px) {
  .container-h3 {
    overflow-x: scroll;
    justify-content: space-between;
    
    
      
  
  }
  .container-flex {
    margin: min(15px);
  }
  .scroll-label {
    display: block;
  }
  
  .activity-form {
    flex-direction: column;
    position: absolute;
    top: 650px;
  }
  .img-container {
    margin-bottom: 170px;
  }
  .container-form {
    padding: 10px;
  }
  .gallery-flex2 {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .gallery-img {
    width: 100vw;
    height: 50vw;
  }
  
  
}

/*----------Tablet and Phone----------*/

@media only screen and (max-width: 705px) {
  .activity-form {
    width:100%;
  }
 
  }
 


/*----------phone----------*/
@media only screen and (max-width: 480px) {
  .activity-form {
    align-items: center;
  }
  input[type="date"],
select {
  width: 250px;
}

 
 

}

