.section1-container {
    display: flex;
    justify-content: center;
}
.img-container {
    background-image: url(/images/Tinberg_solar_system._sun_in_the_background._child_color._blue__bb52698c-20fc-4ee3-b5e0-aab8d8c30981.png);
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.h1-1 {
    padding: 43px 0;
    
}
