.hero-img {
  background-image: url(/images/Tinberg_happy_person_with_lab_coat_in_a_science_museum._face_in_1837f83a-2116-4590-8577-c4259ef26e9b_11zon.jpg);
  height: 650px;
  background-size: cover;
  background-position: top;
  justify-content: flex-end;
  flex-direction: column;
}
.h1-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px;
}
.container {
  flex-direction: column;
}
.background {
  padding: 100px;
  margin: 100px 100px 0;
  border-radius: 20px;
}
.background-color {
  background-color: var(--dark-white-background-color);
  padding: 75px 100px 0px;
  border-radius: 20px;
}

.background-support {
  background-color: #8a99a9;
}
.background-volunteer {
  background-color: var(--orange-background-color);
}
.background-internships {
  background-color: var(--light-blue-background-color);
}
h2 {
  padding-bottom: 40px;
}
.paragraph {
  padding: 15px 0;
}
.contact-button {
  text-align: center;
  padding: 50px 0;
  justify-content: center;
}

/*----------Tablet and Phone----------*/
@media only screen and (max-width: 1189px) {
  .background {
    padding: 50px;
    margin: 50px 50px 0;
  }
  .background-color {
    padding: 50px 50px 0;
  }
}
/*----------Tablet and Phone----------*/

@media only screen and (max-width: 705px) {
  .hero-img {
    height: 450px;
  }
  .background {
    padding: 15px;
    margin: 25px 15px 0;
  }
  .background-color {
    padding: 20px 20px 0;
  }
  h2 {
    padding-bottom: 25px;
  }
}
/*----------phone----------*/
@media only screen and (max-width: 480px) {
  .background {
    padding: 15px;
    margin: 25px 0 0;
  }
  .background-color {
    padding: 15px 15px 0;
  }
  h2 {
    text-align: center;
  }
  .contact-button {
    padding: 35px 0;
  }
}
