/*----------Global styles----------*/
:root {
  --orange-background-color: #e29351;
  --hover-orange-background-color: #fa5e02;
  --dark-white-background-color: #fbf8f3;
  --white-background-color: white;
  --dark-blue-background-color: #19235c;
  --light-blue-background-color: #51a0e2;
  --white-font-color-h1: white;
  --black-font-color-h1: black;
  --black-font-color-h2: black;
  --black-font-color-h3: black;
  --black-font-color: black;
  --white-font-color: white;
  --font-weight-bold: 700;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-h3: 1.4rem;
  --font-size-h2: 1.875rem;
  --font-size-h1: 2.5rem;
}
* {
  font-family: sans-serif, arial;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  background-color: #b1ddd3;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #e2ebe9;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.2);
  font-size: var(--font-size-18);
}

h1 {
  font-size: var(--font-size-h1);
}

.h1-white {
  color: var(--white-font-color-h1);
}

.h1-black {
  color: var(--black-font-color-h1);
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--black-font-color-h2);
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--black-font-color-h3);
}


p {
  line-height: 1.5;
  color: var(--black-font-color);
}

.font-w700 {
  font-weight: var(--font-weight-bold);
}

a {
  color: black;
}

.white-font {
  color: var(--white-font-color);
}

.cursor-pointer {
  cursor: pointer;
}

.primary-button {
  background-color: var(--orange-background-color);
  color: var(--black-font-color);
  padding: 13px 25px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  width: 205.53px;
}

.primary-button:hover {
  background-color: var(--hover-orange-background-color);
}

.max-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.fixed-position-fix {
  padding-top: 96px;
}
.flex-container {
  display: flex;
}

/*----------Header----------*/
#toggle-hamburger {
  display: none;
}

.checked {
  display: none;
}
.hamburger {
  margin-left: auto;
  padding-right: 10px;
}
.unchecked {
  font-size: 2.5rem;
  color: white;
}

.hamburger-logo {
  padding-right: 10px;
}

.navigation-top-bar {
  display: flex;
  background-color: #19235c;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.ul-container {
  display: flex;
  align-items: center;
}

.tyrannosaurus {
  width: 200px;
  height: 200px;
}

.navigation-top-bar .nav-link {
  padding: 15px 25px;
  display: block;
}

.nav-link:hover .white-font, .nav-link:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}

footer a,
header a {
  color: var(--white-font-color);
}


/*----------Footer----------*/
.footer-container {
  color: white;
  background-color: #19235c;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: var(--font-size-16);
}

.section-container {
  padding: 25px 50px;
}
.footer-top-text {
  padding: 15px 0;
  color: var(--white-font-color);
}
.footer-text {
  padding: 3px 0;
  color: var(--white-font-color);
}
.link-text:hover {
  text-decoration: underline;
}
.social-media-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.social-media {
  display: flex;
}
.logo-text {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  align-items: center;
}

.social-media-text {
  padding: 10px 5px;
  color: var(--white-font-color);
}

/*----------Desktop----------*/
@media only screen and (min-width: 1190px) {
  .hamburger {
    display: none;
  }
  .hamburger-only {
    display: none;
  }
}
/*----------Tablet and phone----------*/
/*----------Hamburger----------*/
@media only screen and (max-width: 1189px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .navigation-top-bar {
    padding: 0px 15px;
  }

  nav .ul-container {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #19235c;
    width: 100%;
    height: 700px;
    top: 44px;
    padding-top: 30px;
    z-index: -1;
    transform: translatey(-150%);
    transition: 0.8s;
  }

  #toggle-hamburger:checked ~ nav .ul-container {
    transform: translatey(0);
  }

  #toggle-hamburger:checked ~ nav .unchecked {
    display: none;
  }
  #toggle-hamburger:checked ~ nav .checked {
    display: flex;
    font-size: 2rem;
    color: white;
  }
  .ul-container .desktop-only {
    display: none;
  }
}
/*----------Tablet and phone----------*/
/*----------Footer----------*/
@media only screen and (max-width: 705px) {
  body {
    font-size: var(--font-size-16);
  }
  .footer-container {
    flex-direction: column;
  }
  .section-container {
    padding: 25px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .logo-text {
    padding: 15px 10px;
  }
}

/*----------phone----------*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}
